body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
    color: #970000;
    font-size: 20px;
    font-family: Roboto;
    min-height: 100vh;
}

/* first section */
header {
    width: 100%;
    background-color: #1f2937;
}

.header-container {
    margin: auto;
    max-width: 80%;
}

.flex-container-0 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px
}

.header-logo {
    flex: 2;
}

.header-logo h2 {
    margin: 20px 0px 0px 0px;
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    display: flex;
}

.header-links div {
    margin: 20px 20px 0px 0px;
    color: #e5e7eb;
    font-size: 18px;
}


.flex-container-1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
}

.flex-container-1 div h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin: 0px;
    max-width: 60%;

}

.flex-container-1 div p {
    margin-top: 0px;
    margin-bottom: 10px;
    color: #e5e7eb;
    font-size: 18px;
}

.img-placeholder {
    width: 50%;
    height: 150px;
    background-color: rgb(112, 112, 112);
    margin-left: 30px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(220, 220, 220);
    font-size: 14px;
}

button {
    background-color:  #3882F6;
    border: 0px;
    color: white;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 10px
}

/* section 2 */
.section-2 {
    background-color: white;
    margin-top: 30px;
    height: 370px
}

.section-2 h2 {
    margin-top: 0px;
    text-align: center;
    color: #1f2937;
    font-weight: 900;
    font-size: 36px;
}

.flex-container-2 {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.flex-container-2 .square {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.flex-container-2 .square div {
    width: 140px;
    height: 140px;
    border: 2px solid #3882F6;
    border-radius: 10px;

}

.flex-container-2 .square p {
    max-width: 170px;
    font-size: 18px;
    text-align: center;
    color: grey;
}

/* section 3 */
.section-3 {
    width: 100%;
    padding: 50px 0px;
    background-color: #E5E7EB;
}

.section-3 div {
    max-width: 60%;
    margin: auto;
}

.section-3 div p:nth-child(1) {
    font-size: 25px;
    margin: 0px;
    text-align: left;
    font-style: italic;
    font-weight: 100;
    color: black;
}

.section-3 div p:nth-child(2) {
    font-weight: bold;
    font-size: 17px;
    text-align: right;
    color: black;
}

